alembic==1.9.1
anyio==3.6.2
apache-airflow==2.2.3
apache-airflow-providers-common-sql==1.3.1
apache-airflow-providers-ftp==3.2.0
apache-airflow-providers-http==4.1.0
apache-airflow-providers-imap==3.1.0
apache-airflow-providers-sqlite==3.3.1
apispec==3.3.2
argcomplete==1.12.3
attrs==20.3.0
Babel==2.11.0
black==21.12b0
blinker==1.5
cachelib==0.9.0
cattrs==1.5.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==7.1.2
clickclick==20.10.2
colorama==0.4.6
colorlog==5.0.1
commonmark==0.9.1
croniter==1.0.15
cryptography==39.0.0
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
dnspython==2.2.1
docutils==0.16
email-validator==1.3.0
filelock==3.9.0
Flask==1.1.4
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.11.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
graphviz==0.20.1
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
identify==2.5.12
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.10.2
inflection==0.5.1
iso8601==1.1.0
isort==5.10.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lazy-object-proxy==1.9.0
libcst==0.3.23
lockfile==0.12.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.0.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mypy-extensions==0.4.3
nodeenv==1.7.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
packaging==22.0
pathspec==0.9.0
pendulum==2.1.2
platformdirs==2.6.2
pre-commit==2.17.0
prison==0.2.1
psutil==5.9.4
psycopg2==2.9.3
psycopg2-binary==2.9.5
pycln==1.1.0
pycparser==2.21
Pygments==2.14.0
PyJWT==1.7.1
pyrsistent==0.19.3
python-daemon==2.3.2
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2022.7
pytzdata==2020.1
PyYAML==5.4.1
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==13.0.0
setproctitle==1.3.2
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.46
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.39.0
sqlparse==0.4.3
swagger-ui-bundle==0.0.9
tabulate==0.8.10
tenacity==8.1.0
termcolor==2.2.0
text-unidecode==1.3
toml==0.10.2
tomli==1.2.3
typer==0.4.2
typing-inspect==0.8.0
typing_extensions==4.4.0
unicodecsv==0.14.1
urllib3==1.26.13
virtualenv==20.17.1
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.11.0
