/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.page
  p, ul, ol
    line-height: 1.8

  img
    display: block
    margin: 40px auto

  img + em
    margin-top -20px
    margin-bottom 40px
    display block
    text-align center
    color gray
    font-size 0.85em
